@charset "UTF-8";
/* CSS Document */

.ap_top{
	text-align: center;
	color: white;
	margin-bottom: 50px;
}

.ap_top h2, .ap_top p{
	font-weight: 300;
}

h1{
	font-size: 28pt;
	font-weight: 400;
}

h2{
	font-size: 16pt;
}

.ap_bottom{
	padding: 5%;
	padding-bottom: 15%; 
	padding-left: 10%;
	padding-right: 10%;
	text-align: left;
	background: white;
	height: 100%;
	color: black;

	width: 80%;

	display: inline-block;

}

.ap_bottom img{
	margin-top: 50px;
	width: 258px;
	height: 546px;
	float: left;
	margin-right: 6%;
}

.ap_bottom img:last-of-type{
	margin-right: 0;
}

.ap_bottom h2, .ap_bottom h2{
	font-weight: 300;
}

.ap_registrar{
	margin-top: 15px;
	margin-left: auto;
	margin-right: auto;
	background: white;
	width: 400px;
	height: 50px;
	overflow: hidden;
	-webkit-border-radius: 9px;
   -moz-border-radius: 9px;
   border-radius: 9px;
}

.ap_textbox{
	margin-top: 10px;
	margin-left: 15px;
	border: none;
	width: 301px;
	font-size: 14pt;
}

.ap_btn1{
	background: #00ccff;
	border: none;
	color: white;
	font-size: 14pt;
	text-decoration: none;
	width: 80px;
	height: 50px;
	padding: 5px;

-webkit-border-top-right-radius: 9px;
-webkit-border-bottom-right-radius: 9px;
-moz-border-radius-topright: 9px;
-moz-border-radius-bottomright: 9px;
border-top-right-radius: 9px;
border-bottom-right-radius: 9px;

}

.ap_btn1:hover{
	background: #00bbee;

	color: black;
	font-size: 14pt;
	text-decoration: none;
}

.ap_btn2{
	background: #0088bb;
	border: none;
	color: white;
	font-size: 14pt;
	text-decoration: none;
	height: 50px;
	padding: 15px;

	-webkit-border-radius: 9px;
   -moz-border-radius: 9px;
   border-radius: 9px;

}

.ap_btn2:hover{
	background: #0077aa;

	color: black;
	font-size: 14pt;
	text-decoration: none;
}