@charset "UTF-8";
/* CSS Document */

html {
    position: relative;
    min-height: 100%;
}

body{
	background-image: url("../../media/Fundo01@2x.png");
	background-size: 100%;
	background-attachment: fixed;
	overflow-x:hidden;
    margin: 0 0 400px; /* bottom = footer height */
}

*{
	margin:0;
	padding:0;
	font-family:'Source Sans Pro', Helvetica Neue Light, Helvetica Neue, Helvetica, Arial, sans-serif;
	font-weight: 200;
}

.cabecalho{
	width: 100%;
	position: fixed;
	height: auto;
	box-shadow: 0 0 2pt #777777;
}

.menu_1{
	background-color: white;
	width: 100%;
	height: 100px;
}


.menu_2{
	padding-top:10px;
	margin-bottom: -10px;
	background-color: #33afd3;
	width: 100%;
	height: 50px;
}

.nav2 {
	display: table;
	width: 100%;
	border-collapse: collapse;
	border: none;
}

.nav2 ul {
	display: table-row;
}

.nav2 li {
	display: table-cell;
	margin: 0;
	list-style-type: none;
	text-align: center;
}


.nav2 li a{
	background: transparent;
	border: none;
	color: white;
	font-size: 14pt;
	text-decoration: none;
}

.nav2 li a:hover{
	color: gray;
	font-size: 14pt;
	text-decoration: none;
}

.menu_3{
	background-color: #037fa3;
	width: 100%;
	height: 30px;
}

.centralizado{
	width: 65%;
	min-width: 650px;
	max-width: 1680px;
	margin: auto;
}

.logo{
	height: 100%;
	max-width: 170px;
	float:left;
	font-size: 48pt;
	padding-top: 15px;
}

.logo a img{
	max-width: 100%;
	height: auto;
}

.logo a{
	text-decoration: none;
	color: black;
	font-family: serif;
}

.nav{
	height: 100%;
	float: right;
}

.nav form{
	float: left;
}

.nav li{
	list-style-type: none;
	margin-top: 40px;
	float: left;
	padding: 10px;
}

.nav li a, .nav li button{
	background: transparent;
	border: none;
	color: black;
	font-size: 14pt;
	text-decoration: none;
}

.nav li a:hover, .nav li button:hover{	
	color: gray;
	font-size: 14pt;
	text-decoration: none;
}

.conteudo{
	height: auto;
	width: 100%;
	padding-top: 50px;
	overflow: visible;;
}

.form-group-menu{
	margin-left: auto;
	margin-right: auto;
}

.form-group-menu input{
	margin-top: 2px;
	background-color: rgba(255,255,255,.8);
	height: 26px;
	color:gray;
	border: none;
	width:300px;
	font-size: 14pt;
	margin-right: 10px;
}

.form-group-menu button{
	background: transparent;
	border: none;
	color: white;
	font-size: 14pt;
	text-decoration: none;
}

.form-group-menu button:hover{
	color: black;
	font-size: 14pt;
	text-decoration: none;
}

.form-group{
	width: 450px;
	margin-top: 30px;
}

.form-line{
	width: 450px;
	height: 33px;
	margin-bottom: 15px;
}

.form-control{
	font-size: 16pt;
	width: 444px;
}

.form-line .form-control-2{
	float: left;
}

.form-line .form-control-2:nth-child(2){
	float: right;
}

.form-control-2{
	font-size: 16pt;
	width: 211px;
}

.form-float-right{
	float: right;
}

.form-group button{
  border: none;
   background: #65a9d7;
   background: -webkit-gradient(linear, left top, left bottom, from(#3e779d), to(#65a9d7));
   background: -webkit-linear-gradient(top, #3e779d, #65a9d7);
   background: -moz-linear-gradient(top, #3e779d, #65a9d7);
   background: -ms-linear-gradient(top, #3e779d, #65a9d7);
   background: -o-linear-gradient(top, #3e779d, #65a9d7);
   padding: 11.5px 23px;
   -webkit-border-radius: 9px;
   -moz-border-radius: 9px;
   border-radius: 9px;
   -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
   -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
   box-shadow: rgba(0,0,0,1) 0 1px 0;
   text-shadow: rgba(0,0,0,.4) 0 1px 0;
   color: white;

   text-decoration: none;
   vertical-align: middle;

   	font-size: 16pt;
	width: 100%;
}

.form-group button:hover {
 border-top-color: #28597a;
   background: #28597a;
   color: #ccc;
}

.form-group button:active {
   border-top-color: #1b435e;
   background: #1b435e;
}

.rodape{
	height: 400px;
	padding-left:8%;
	padding-right: 8%;
	background-color: white;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 84%;
    overflow:hidden;
}

.r_top{
	height: 80%;
}

.r_menu {
    margin: 0;
    margin-left: auto;
    margin-right: auto;
    height: 54px;
    padding: 0px;
    display: table;
    width: 60%;
}

.r_menu ul {
    margin: 0;
    height: 54px;
    display: table-row;
}

.r_menu ul li {
    display: table-cell;
    white-space:nowrap;
    padding:5px;
}

.r_menu ul li a{
	color: black;
    font-weight: 400;
	font-size: 14pt;
	text-decoration: none;
}

.r_menu ul li a:hover{
	color: gray;
	font-size: 14pt;
	text-decoration: none;
}

.r_bottom{
	height: 20%;
}

.r_logo{
	width: 150px;
}

.r_bottom :nth-child(1) {
	width: 150px;
	float: left;
}

.r_bottom :nth-child(2) {
    margin: 0 150px;
    text-align: center;
}

.r_bottom :nth-child(3) {
	width: 150px;
	float: right;
}

.r_bottom :nth-child(3) a{
	border: none;
	color: black;
	text-decoration: none;
}

.r_bottom :nth-child(3) a:hover{
	color: gray;
	text-decoration: none;
}
